.App {
    min-width: 35rem;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 15vh;
    padding: 2rem;
    border-radius: 10px;
}

h1, h3 {
    margin-top: 4rem;
    text-align: center;
    
    margin-bottom: 20px;
}

.blankDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blank {
    padding: 3px;
    margin: 3px;
    background-color: silver;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 3px;
} 

.lettersDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.letter {
    background-color: rgb(39, 91, 214);
    color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    border: 1px solid red;
}

.startBtn {
    width: 10rem;
    margin-top: 10rem;
    height: 2rem;
    border: none;
    background-color: rgb(39, 91, 214);
    border-radius: 10px;
    color: #fff;
}

.winDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winDiv button {
    width: 10rem;
    height: 2rem;
    border: none;
    background-color: rgb(39, 91, 214);
    border-radius: 10px;
    color: #fff;
}

.winDiv a {
    color: #fff;
    border-bottom: none;
}